<style>

.title {
  height: 20px;
}

.description {
  height: 100px;
}

.description, .title, .location, .price-per-night {
  display: block;
  width: 30%;
  resize:none;
}
</style>

<form action="/listings/<%= @listing_id %>" method="post">
  <input type="hidden" name="_method" value="PATCH" />
    <label for="title">Title:</label>
    <input type='text' name='title' class='title' value="<%= @listing.title %>">
    <label for="description">Description:</label>
    <textarea name='description' class='description'><%= @listing.description %></textarea>
    <label for="location">Location:</label>
    <input type='text' name='location' class='location' value="<%= @listing.location %>">
    <label for="price_per_night">Price per night:</label>
    <input type='text' name='price_per_night' class='price-per-night' value="<%= @listing.price_per_night %>">
  <input type="submit" value="Submit" />
</form>