<section class="button-listings">
  <form action="/my-listings" method="get">
    <input type="submit" value="My listings">
  </form>
  <form action="/sessions/logged-out" method="post">
    <input type="submit" value="Sign out">
  </form>
  </br>
  <form action='/new-listing'>
    <input type='submit' value='Create a new listing'>
  </form>
</section>

<div class="hero-text-listings">
  <h2 style="text-align: center;">Welcome <%= @user_authenticated %>!</h2>
  <div class="product-search-listings">
    <form action='/listing-search' method="get" class="search-box">
      <div class="search-element">
        <input class="search-label" type='text' name="location" placeholder="Where are you going?">
      </div>
      <div class="search-element">
        <input class="search-label" type='text' name="keyword" placeholder="Search keywords">
      </div>
      <div class="search-element">
        <input class="search-label" type='text' name="max_price" placeholder="Enter max price">
      </div>
      <input class="search-button" type='submit' value='Search'>
    </form>
  </div>
  <br>
  <% @listings.each do |listing| %>
    <div class = "entry">
      <a href="../listings/<%= listing.id %>"><%= listing.title %></a>
      <%= listing.location %>
      <a>£<%= listing.price_per_night %>/night </a>
    </div>
  <% end %>
</div>
