Welcome <%= @user_authenticated %>!
<form action='/new-listing'>
  <input type='submit' value='Create a new listing'>
</form>

<form action='/listing-search' method="get">
  <input type='text' name="location" placeholder="Where would you like to go?">
  <input type='text' name="keyword" placeholder="Search keywords">
  <input type='text' name="max_price" placeholder="Enter max price">
  <input type='submit' value='Search'>
</form>
  
<% @listings.each do |listing| %>
  <div class = "entry">
  <a href="../listings/<%= listing.id %>"><%= listing.title %></a>
  <%= listing.location %>
  <a>£<%= listing.price_per_night %>/night </a>
  </div>
  <% end %>