<h3>There are <%= @listing_search.count %> results for your search:</h3>
<% @listing_search.each do |listing| %>
  <div class = "entry">
  <a href="../listings/<%= listing.id %>"><%= listing.title %></a>
  <%= listing.location %>
  <a>£<%= listing.price_per_night %>/night </a>
  </div>
<% end %>

<form action='/listings'>
  <input type="submit" value="Back to all listings">
</form>